<footer id="footer" class="bg-one">
    <div class="top-footer">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h3>Areas We Cover</h3>
                    <p>douglas Enterprizes is proud to service the greater Denver Metro Area.</p>
                    <a href="/contact-us" class="btn-transparent">Contact Us</a>
                    
                </div>
                <!-- End of .col-sm-3 -->
                
            </div>
        </div> <!-- end container -->
    </div>
    <div class="footer-bottom">
        <p><img src="/public/img/cbbb-badge-horz_gray.png" alt=""></p>
        <h5>Copyright douglas Enterprizes Inc. 2025.<br>All rights reserved.</h5>
    </div>
</footer>