---
title: "Douglas Enterprizes | Homepage | Lone Tree, CO"
description: "Highest quality vinyl and wood replacement windows and replacement glass"
preloadImg: "/assets/images/photo_01.jpg"
permalink: "/"
tags: "sitemap" # Sitemap will use all pages in content/, due to content.json. As index.html is not included in content/ we need to manually add the sitemap tag to this page (only).
eleventyNavigation:
    key: Home
    order: 100
---

{% extends "layouts/base.html" %}

{% block head %}
    <!-- <link rel="stylesheet" href="/assets/css/local.css" />
    <link rel="stylesheet" href="/assets/css/critical.css" /> -->

    <!-- Script for Netlify Identity -->
    <script
        defer
        src="https://identity.netlify.com/v1/netlify-identity-widget.js"
    ></script>
    <script defer>
        if (window.netlifyIdentity) {
            window.netlifyIdentity.on("init", (user) => {
                if (!user) {
                    window.netlifyIdentity.on("login", () => {
                        document.location.href = "/admin/";
                    });
                }
            });
        }
    </script>

    <!-- JSON Schema Markup -->
    <!-- prettier-ignore-start -->
    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "LocalBusiness",
            "name": "{{ client.name }}",
            {% if preloadImg %}"image": "{{ preloadImg }}",{% endif %}
            {% if client.phoneFormatted %}"telephone": "{{ client.phoneFormatted }}",{% endif %}
            {% if client.email %}"email": "{{ client.email }}",{% endif %}
            {% if client.address %}
                "address": {
                    "@type": "PostalAddress"{% if client.address.lineOne %},
                        "streetAddress": "{{ client.address.lineOne }}{% if client.address.lineTwo %}, {{ client.address.lineTwo }}{% endif %}"
                    {% endif %}
                    {% if client.address.city %},
                        "addressLocality": "{{ client.address.city }}"
                    {% endif %}
                    {% if client.address.state %},
                        "addressRegion": "{{ client.address.state }}"
                    {% endif %}
                    {% if client.address.zip %},
                        "postalCode": "{{ client.address.zip }}"
                    {% endif %}
                    {% if client.address.country %},
                        "addressCountry": "{{ client.address.country }}"
                    {% endif %}
                },
            {% endif %}
            {% if client.domain and page.url %}"url": "{{ client.domain }}{{ page.url }}",{% endif %}
            {% if client.socials %}
                "sameAs": [{% for platform, url in client.socials %}
                        {% if not loop.first %},{% endif %}
                        "{{ url }}"
                    {% endfor %}]
            {% endif %}
        }
    </script>
    <!-- prettier-ignore-end -->
{% endblock %}

{% block body %}

    <!-- Hero Section ----------------------------------------->
    <section class="hero-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="block">
                        <h1 class="wow fadeInUp" data-wow-duration=".5s" data-wow-delay=".3s">WINDOWS DONE WRIGHT!</h1>
                        <p class="wow fadeInUp" data-wow-duration=".5s" data-wow-delay=".5s">Contact owner Douglas Wright for direct pricing. The highest quality vinyl and composite replacement windows and replacement glass with arguably the best installers in the industry.</p>
                        <ul class="list-inline wow fadeInUp" data-wow-duration=".5s" data-wow-delay=".7s">
                            <li class="list-inline-item">
                                <a data-scroll="" href="http://douglasenterprizes.com/products" class="btn btn-main">EXPLORE OUR PRODUCTS</a>
                            </li>
                            <li class="list-inline-item">
                                <a data-scroll="" href="https://douglasenterprizes.com/contact-us" class="btn btn-transparent">CONTACT US</a>
                            </li>
                        </ul>
                        <p>&nbsp;<br><br><a href="https://www.bbb.org/us/co/lone-tree/profile/windows/douglas-enterprizes-inc-1296-6191" target="_blank"><img src="/public/img/cbbb-badge-horz_gray.png" alt=""></a></p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- About Us Section ----------------------------------------->
    <section class="service-2 section">
        <div class="container">
            <div class="row">

                <div class="col-12">
                    <!-- section title -->
                    <div class="title text-center">
                        <h2>What Do We Offer</h2>
                        <p>Douglas Wright, owner of douglas Enterprizes Inc., prides himself on providing customers with the best value and competitive pricing, by buying wholesale and working directly with home owners since 1988.</p>
                        <div class="border"></div>
                    </div>
                    <!-- /section title -->
                </div>
                
                <div class="col-md-12">
                    <div class="row text-center">    
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="service-item">
                                <img src="https://images.prismic.io/douglasenterprizes/a1f2707d-a2da-4849-920b-862493815db7_bucket_windows.jpg?auto=compress,format" alt="">
                                <h4>Windows</h4>
                                <p>Whether you have a lot of windows to replace or just one, doulgas Enterprizes works with several manufacturers and offers a variety of replacement window options that will fit into any budget. &nbsp;We offer the highest efficiency double and triple pane windows, with lifetime warranties, and innovative installation techniques.</p>
                            </div>
                        </div><!-- END COL -->
                        
                        
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="service-item">
                                <img src="https://images.prismic.io/douglasenterprizes/4bf721c6-19f2-47a5-b91c-2d64a5ab89fb_bucket_installation.jpg?auto=compress,format" alt="">
                                <h4>Professional Service</h4>
                                <p>douglas Enterprizes provides the highest level of professional service and installation. We work to make sure that the you fall in love with the work we've done!</p>
                            </div>
                        </div><!-- END COL -->                                                                       
                    </div>
                </div>
            </div> <!-- End row -->
        </div> <!-- End container -->
    </section>

    {% include "components/testimonial.html" %}

{% endblock %}
